.classpath
.project
.settings
.springBeans
target
.DS_Store

src/main/java/com/cloudspokes/thurgood/ThurgoodTestChallenge.java
src/main/java/com/cloudspokes/thurgood/ThurgoodTestJob.java
src/main/webapp/WEB-INF/shells/apex/build.properties
src/main/webapp/WEB-INF/shells/apex/cloudspokes.properties
src/main/webapp/WEB-INF/shells/apex/log4j.xml